
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Dashboard";
}

    <div class="row">
        <h1>Dashboard</h1>
    </div>
    <div class="row">
        <div class="col-md-5 bg_white">
            <h3>Aanvragen></h3>
        </div>
        <div class="col-md-5 offset-1 bg_white">
            <h3>Uren></h3>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-md-5 bg_white">
            <div id="Calendar"></div>

        </div>
        <div class="col-md-5 offset-1 bg_white">
            <h3>Incidenten></h3>
        </div>
    </div>

