
@{
    ViewData["Title"] = "schedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>schedule</h1>

<div id="Calendar"></div>

<link href="https://unpkg.com/@@fullcalendar/core@4.4.0/main.min.css" rel="stylesheet" />
<link href="https://unpkg.com/@@fullcalendar/daygrid@4.4.0/main.min.css" rel="stylesheet" />
<link href="https://unpkg.com/@@fullcalendar/timegrid@4.4.0/main.min.css" rel="stylesheet" />

@section Scripts{
    <script src='https://fullcalendar.io/js/fullcalendar-3.1.0/lib/moment.min.js'></script>
    <script src='https://unpkg.com/@@fullcalendar/core@4.4.0/main.min.js'></script>
    <script src='https://unpkg.com/@@fullcalendar/interaction@4.4.0/main.min.js'></script>
    <script src='https://unpkg.com/@@fullcalendar/daygrid@4.4.0/main.min.js'></script>
    <script src='https://unpkg.com/@@fullcalendar/timegrid@4.4.0/main.min.js'></script>


    <script src="~/js/CalendarFunctions.js"></script>
}