
@{
    ViewData["Title"] = "schedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@ViewBag.Error
@await Component.InvokeAsync("NewEvent")
<div id="Calendar"></div>

<link href="~/lib/FullCalendar/core/main.min.css" rel="stylesheet" />
<link href="~/lib/FullCalendar/daygrid/main.min.css" rel="stylesheet" />
<link href="~/lib/FullCalendar/timegrid/main.min.css" rel="stylesheet" />
<link href="~/css/Calendar.css" rel="stylesheet" />

@section Scripts{
    <script src='https://fullcalendar.io/js/fullcalendar-3.1.0/lib/moment.min.js'></script>
    <script src="~/lib/FullCalendar/core/main.min.js"></script>
    <script src="~/lib/FullCalendar/moment/main.min.js"></script>
    <script src="~/lib/FullCalendar/interaction/main.min.js"></script>
    <script src="~/lib/FullCalendar/daygrid/main.min.js"></script>
    <script src="~/lib/FullCalendar/timegrid/main.min.js"></script>
    <script src="~/lib/FullCalendar/core/locales/nl.js"></script>
    <script src="~/js/CalendarFunctions.js"></script>
}