@model Corona_B.I.E.R_V1.Models.LoginEmployeeModel


@{
    Layout = "~/Views/Shared/_LayoutLoginPage.cshtml";
    ViewData["Title"] = "LoginEmployee";
}


<div class="signInStyle">
    <div>
        <form asp-action="LoginEmployee" class="form-signin">
            <div class="text-center mb-4">
                <h1 class="h3 mb-3 font-weight-normal">B.I.E.R</h1>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-label-group">
                <input asp-for="Email"  type="email" class="form-control" id="inputEmail" placeholder="Email address" required autofocus/>
                <label asp-for="Email" class="control-label" for="inputEmail">Email address</label>
                @*<span asp-validation-for="Email" class="text-danger"></span>*@
            </div>

            
            <div class="form-label-group">
                <input asp-for="Password" type="password" class="form-control" id="inputPassword" placeholder="Password" required/>
                <label asp-for="Password" class="control-label" for="inputPassword"></label>
                @*<span asp-validation-for="Password" class="text-danger"></span>*@
            </div>

            
            @Html.ValidationMessage("incorrectLogin")
            <div class="form-label-group">
                <button type="submit" value="Login" class="btn btn-lg btn-primary btn-block">Login</button>
            </div>

        </form>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}